# Ignore build directories
/Builds/
/bin/
/obj/
UnitTesting/Builds

# Ignore JUCE library files
JuceLibraryCode/
UnitTesting/JuceLibraryCode

# Ignore Visual Studio files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.rsuser
*.sdf
*.ipch
*.aps
*.ncb
*.opensdf
*.opendb
*.tlog
*.log

# Ignore Mac specific files
*.DS_Store
*.xcuserstate
*.xcuserdata
*.xcworkspace
